{% extends "base.html.twig" %}

{% block title %} Accueil | {{ parent() }} {% endblock %}

{% block body %}

<div class="conteneur">
    <div class="element1">
        <video autoplay muted loop>
            <source src="vid/Sequence_02.mp4" type="video/mp4">
        </video>
    </div>
    <div class="element2">
        <img src="img/TOPDESJEUX.png" class="accueil">
    </div>
    <div class="element3">
        <img src="img/mmi-logo-blanc.png" width="75px" height="75px" class="accueil">
    </div>
    <div class="d-flex jeux">
        <div>
            <a href="{{ path('gladnslash') }}"><img src="{{ asset('img/gladnslash.png') }}" class="jeu" width="400px" height="200px"></a>
        </div>
        <div>
            <img src="{{ asset('img/600x372_donkey-kong.jpg') }}" class="jeu" width="400px" height="200px">
        </div>
        <div>
            <img src="{{ asset('img/pacman-screen.jpg') }}" class="jeu" width="400px" height="200px">
        </div>
    </div>
    <div class="categorie">
        <img src="img/CATEGORIE.png" width="500px" height="240px">
    </div>
</div>

{% endblock %}