{% extends "base.html.twig" %}

{% block title %} Catégories | {{ parent() }} {% endblock %}

{% block body %}

<div class="element1">
    <video autoplay muted loop>
        <source src="vid/ANIM_CATEGORIES.mp4" type="video/mp4">
    </video>
</div>

<a href="{{ path('accueil') }}"><img src="img/fleche.png" class="fleche" width="70px"></a>

<div class="parametres_box">
    <h1>Catégories</h1>
    <div>
        <a href="{{ path('categories.1') }}" class=""><h5>Plateformes</h5></a><br>
        <a href="{{ path('categories.2') }}" class=""><h5>Clicker</h5></a><br>
        <a href="{{ path('categories.3') }}" class=""><h5>Classiques</h5></a><br>
    </div>
</div>
{% endblock %}