{% extends "base.html.twig" %}

{% block title %} {{ nom }} | {{ parent() }} {% endblock %}

{% block body %}

<a href="{{ path('accueil') }}"><img src="img/fleche.png" class="fleche" width="70px"></a>

<div class="presentation">
    <h1>{{ nom }}</h1>
    <h5>{{ categorie }}</h5>
    <h5>{{ highscore }}</h5>
    <img src="{{ img }}" width="500px"><br>
    <a href="{{ path('ongame2') }}"><button class="btn btn-primary">Jouer</button></a><br>
    <small>{{ description }}</small><br>
    <small>{{ date }} | {{ contributeur }}</small>
</div>

{% endblock %}